//vendors
@import "./vendors/tailwind";
@import "./vendors/lenis-scroll";

@import "./basic/typography.module.scss";

[data-hidden] {
	opacity: 0;
}

::-webkit-scrollbar {
	width: 0px !important;
}

::-webkit-scrollbar-track {
	// background: red !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px !important;
	border: 0 !important;
}
